*, *:before, *:after {
	box-sizing: border-box;
}

div img {
	vertical-align: bottom;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	margin: 0;
	padding: 0;
  font-family: 'Roboto', sans-serif;
}

body > div {
	overflow-x: hidden;
	overflow-y: auto;
}


/* Template */

.inbox-menu {
	position: relative;
	z-index: 1;
	flex-basis: 230px;
	flex-shrink: 0;
	padding: 20px;
	color: #fff;
	background-color: #1d232a;
	background-image: linear-gradient(to top left, #272f37, #1d2329);
}

.friends-list {
	position: relative;
	z-index: 2;
	flex-basis: 360px;
	flex-shrink: 0;
	box-shadow: 0 0 10px rgba(0,0,0,1);
	color: #fff;
	background-color: #494b4e;
	background-image: linear-gradient(to top left, #242a31, #2d343c);
}

.chat {
	position: relative;
	z-index: 3;
	flex-grow: 1;
	background-color: #fff;
}

/* Inbox menu : partie de gauche */

.inbox-menu header {
	position: relative;
}

.inbox-menu-title {
	padding: 0 10px;
	font-size: 22px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 50px;
}

button .icon {
	font-size: 18px;
	line-height: 1;
}

.add-contact-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #363c44;
	border-radius: 50%;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
}

.add-contact-btn:hover {
	border-color: #fff;
}

.inbox-menu nav ul,
.inbox-menu nav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.inbox-menu nav a {
	position: relative;
	display: block;
	padding: 12px 30px 12px 10px;
	font-size: 14px;
	font-weight: 400;
	border-radius: 4px;
	color: #a0a4a7;
	text-decoration: none;
	line-height: 17px;
}

.inbox-menu nav a:hover {
	color: #fff;
}

.inbox-menu nav .active a {
	background-color: #353d45;
	color: #fff;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.06);
}

.inbox-menu nav ul {
	margin-top: 22px;
	padding-top: 22px;
	border-top: 1px solid #363c44;
}
.inbox-menu nav ul:first-child {
	margin-top: 0;
	border-top: none;
	padding-top: 0;
}

.inbox-menu .list-number {
	position: absolute;
	right: 10px;
	display: inline-block;
	vertical-align: middle;
	line-height: 17px;
	font-size: 11px;
}

/* Formulaire de recherche d'un contact */

.friend-search {
	padding: 20px 25px;
	border-bottom: 1px solid #3f444b;
}

.friend-search form {
	position: relative;
}

.friend-search #searchFriend {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #363d45;
	border: none;
	border-radius: 20px;
	padding-left: 50px;
	color: #868b8e;
	font-size: 14px;
	font-weight: 500;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.06);
}

.friend-search button {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	background-color: transparent;
	color: #fff;
	width: 40px;
	height: 40px;
	font-size: 14px;
	cursor: pointer;
}

/* Friend-list : zone centrale */
.friends-list-messages-item {
	position: relative;
	display: block;
	padding: 25px 20px;
	display: flex;
	align-items: center;
	border-left: 3px solid transparent;
	text-decoration: none;
	color: #fff;
}

.friends-list-messages-item:hover {
	background-color: #2b80ff;
}

.friends-list-messages-item.active {
	border-left-color: #2b80ff;
}

.friends-list-messages-item.connected:before {
	content:"";
	position: absolute;
	top: 20px;
	left: 12px;
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #2dc100;
}

.m-avatar img {
	border-radius: 50%;
}
.m-avatar {
	position: relative;
}
.m-avatar:after {
	content:"";
	position: absolute;
	left: 0;
	bottom: -25px;
	width: 100%;
	height: 1px;
	background-color: #3f444b;
}
.friends-list-messages-item:hover .m-avatar:after {
	background-color: transparent;
}

.m-infos {
	padding: 0 18px;
	flex-grow: 1;
}
.m-infos .name {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.m-infos .message {
	width: 100%;
	font-weight: 300;
	font-size: 14px;
	color: rgba(255,255,255,0.5);
	white-space: nowrap;
	max-width: 206px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 19px;
}

.m-metas-time {
	font-weight: 500;
	font-size: 11px;
	color: rgba(255,255,255,0.2);
}


/* Chat */

.chat {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}
.chat-header {
	display: flex;
	border-bottom: 1px solid #dbe0e1;
}

.chat-header-friend-info {
	flex-grow: 1;
	padding: 20px 25px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chat-header-friend-actions {
	display: flex;
	margin: 0;
	padding: 0;
}

.chat-header-friend-actions li {
	list-style-type: none;
}
.chat-header-friend-actions button {
	width: 80px;
	height: 80px;
	line-height: 80px;
	border: none;
	border-left: 1px solid #dbe0e1;
	background-color: transparent;
	cursor: pointer;
}
.chat-header-friend-actions button:hover {
	color: #2b80ff;
}
.chat-header-friend-actions button .icon {
	font-size: 22px;
}


.chat-content {
	flex-grow: 1;
	padding: 26px;
	border-bottom: 1px solid #dbe0e1;
	background-color: #eeeff3;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chat-msg {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.chat-msg-me {
	flex-direction: row-reverse;
}

.chat-msg-avatar {
	position: relative;
	padding-right: 30px;
}
.chat-msg-me .chat-msg-avatar {
	padding-right: 0;
	padding-left: 30px;
}
.chat-msg-avatar img {
	border-radius: 50%;
}

.chat-msg .time {
	position: absolute;
	width: 100%;
	padding-right: 30px;
	text-align: center;
	font-size: 11px;
	font-weight: 500;
	color: rgba(0,0,0,0.6);
}

.chat-msg-content {
	position: relative;
	padding: 16px 20px;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	background-color: #fff;
	border-radius: 3px;
}
.chat-msg-content:before {
	position: absolute;
	content:"";
	left: -10px;
	top: 22px;
	border: 5px solid transparent;
	border-right-color: #fff;
}
.chat-msg-me .chat-msg-content:before {
	left: auto;
	right: -10px;
	border-right-color: transparent;
	border-left-color: #2b80ff;
}

.chat-msg-me .chat-msg-content {
	color: #fff;
	background-color: #2b80ff;
}
