table {
	margin-bottom: 3rem;
}

table.exemple {
	background-color: #dedede;
	border-collapse: collapse;
	width: 100%;
}

table.exemple th, table.exemple td {
	border: 1px solid #000;
	padding: 5px;
}

table.exemple th {
	text-align: left;
	background-color: #555;
	color: #fff;
}

table.presence {
	width: 50%;
	border-collapse: collapse;
}

table.presence th,
table.presence td {
	background-color: #fff;
	color: #000;
	border: none;
	text-align: left;
}

table.presence th {
	border-bottom: 1px dotted #000;
}