table {
	border-collapse: collapse;
	border: 4px solid #333;
	box-shadow: 10px 10px #888;
}
td,th {
	padding: 8px;
	border: 1px solid #000;
	text-align: center;
}
td {
	font-weight: 300;
	background-color: #fff;
}
th {
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	border-color: #fff;
	background-color: teal;
}
th.repas {
	color: #fff;
	background-color: #000;
}