table {
	border-collapse: collapse;
	border: 4px solid #333;
	box-shadow: 10px 10px #888;
}
td,th {
	padding: 8px;
	border: 1px solid #000;
	text-align: center;
}
td {
	font-weight: 300;
	background-color: #fff;
}
th {
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	border-color: #fff;
	background-color: teal;
}
th.repas {
	color: #fff;
	background-color: #000;
}

.tab-ex3 {
	border: 1px solid #fff;
	box-shadow: none;
}

.tab-ex3 th, .tab-ex3 td {
	min-width: 60px;
	border: 1px solid #fff;
	text-transform: capitalize;
	font-size: 14px;
	text-align: left;
}

.tab-ex3 tr td {
	background-color: #e6f1f4;
}

.tab-ex3 tr:nth-child(2n) td {
	background-color: #f8fbfc;
}

.tab-ex3 tr th {
	background-color: #3389a3;
}

.tab-ex3 tr.highlight2 td, .tab-ex3 tr td.highlight2 {
	background-color: #ecfcd4;
}

.tab-ex3 tr.highlight1 td, .tab-ex3 tr td.highlight1 {
	background-color: #bce874;
}


