* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #ccc;
}

#header, #footer {
	background-color: #000;
	color: #fff;
}

#sidebar, #sidebar-1, #sidebar-2 {
	background-color: #F00;
}

#contenu {
	background-color: #0F0;
}

#header, #sidebar, #contenu, #footer, #sidebar-1, #sidebar-2 {
	padding: 20px;
}

/* Gabarit n°1 : design fixe et centré de 960px */
.gabarit-1 .container {
	width: 960px;
	margin: 0 auto;
	padding: 30px;
	background-color: #fff;
}

 /*Gabarit n°2 : design fixe et centré de 960px */
 /* avec un header, une sidebar, un contenu et un footer*/
.gabarit-2 .container {
	width: 960px;
	margin: 0 auto;
}

.gabarit-2 #sidebar {
	width: 240px;
	float: left;
}

.gabarit-2 #contenu {
	margin-left: 240px;
}

 /*Gabarit n°3 : design fixe et centré de 960px */
 /* avec un header, deux sidebars, un contenu et un footer*/

 .gabarit-3 .container {
	width: 960px;
	margin: 0 auto;
}

.gabarit-3 .page {
	/* clearfix = corriger les problèmes de flottants */
	overflow: auto;
	background-color: red;
}

.gabarit-3 #sidebar-1 {
	float: left;
	width: 240px;
}

.gabarit-3 #contenu {
	/*margin-left: 240px;*/
	width: 480px;
	float: left;
}

.gabarit-3 #sidebar-2 {
	float: left;
	width: 240px;
}


 /*Gabarit n°4 : design fluide avec largeur maximale */
 /* avec un header, deux sidebars, un contenu et un footer*/

.gabarit-4 .page {
	max-width: 960px;
	margin: 0 auto;
	overflow: auto;
}

.gabarit-4 #sidebar-1, .gabarit-4 #sidebar-2 {
	float: left;
	width: 25%;
}
.gabarit-4 #contenu {
	float: left;
	width: 50%;
}





