* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #333;
	color: #fff;
	padding: 3rem;
}

.tabs {
	position: relative;
	overflow: auto;
	height: 320px;
	margin-bottom: 40px;
}

.tabs-item {
	float: left;
	/*max-width: 25%;*/
}

.item-title {
	position: relative;
	overflow: hidden;
	padding: 1em 2.5em;
	background-color: #C00;
	color: #fff;
	cursor: pointer;
	box-shadow: -5px 0 0 rgba(0,0,0,0.2);
}
.item-title:hover {
	background-color: #a00;
}
.item-title:after {
	content:"";
	position: absolute;
	z-index: 1;
	top: -10px;
	right: 0;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: #333;
}
.tabs-active .item-title {
	color: #C00;
	background-color: #fff;
}

.item-content {
	position: absolute;
	left: 0;
	height: 270px;
	overflow: scroll;
	display: none;
	padding: 2rem;
	background-color: #fff;
	color: #000;
}
.item-content h2:first-child {
	margin-top: 0;
}
.tabs-active .item-content{
	display: block;
}