* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
}

/*.row {
	font-size: 0;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}
.col-1-2 {
	display: inline-block;
	width: 50%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1rem;
}*/

.l__home__lesson-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.25rem;
}
.l__home__lesson-item {
	flex-grow: 1;
	min-width: 320px;
	transition: width 0.6s;
}
@media screen and (min-width: 740px) {
	.l__home__lesson-item {
		max-width: 50%;
	}
}
.l__home__lesson-item .card {
	margin: 0.25rem;
	transition: width 0.6s;
}
header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 3rem;
	padding: 0 1rem;
	color: #fff;
	background-color: #2196F3;
}
.header-title {
	margin: 0;
	font-size: 20px;
	line-height: 3rem;
}
.header-nav {
	position: absolute;
	top: 0;
	right: 1rem;
}

.header-nav ul {
	font-size: 0;
}
.header-nav li {
	display: inline-block;
	font-size: 1rem;
	border-right: 1px solid rgba(255,255,255,0.3);
}
.header-nav li:first-child {
	border-left: 1px solid rgba(255,255,255,0.3);
}
.header-nav li a {
	display: block;
	min-width: 3rem;
	height: 3rem;
	padding: 0 0.5rem;
	line-height: 3rem;
	font-size: 1.125rem;
	text-align: center;
	color: #fff;
	text-decoration: none;	
}
.header-nav li.active a {
	color: #fff;
	background-color: #1565C0;
}
.header-nav li a:hover {
	background-color: #1565C0;
}
.header-nav li a i.fa{
	position: relative;
	top: 2px;
	margin: 0;
	font-size: 1.5rem;
	color: #fff;
}

.card {
	display: flex;
	/*margin: 1rem 0;*/
	/*border: 1px solid #CFD8DC;*/
	background-color: #f5f7fa;
}
.card * {
	margin: 0;
	padding: 0;
}
.card-nb {
	font-weight: 300;
	font-size: 3rem;
	color: #d4dee6;
	padding: 0px 0.5rem;
}
.card-content {
	padding: 0.5rem 1rem;
	flex-grow: 1;
}
.card-title {}
.card-subtitle {
	font-size: 0.875rem;
	font-weight: 300;
}
.card-meta {}
.card-date {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 0.75rem;
	color: #2196F3;
}
.card-links {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0.5rem;
}
.card-links a {
	font-size: 0.875rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	line-height: 1rem;
	text-align: center;
	color: #fff;
	background-color: #2196F3;
}
.card-links a + a {
	margin-top: 0.5rem;
}
.card-links a:hover {
	background-color: #1565C0;
}
.card-links i.fa {
	position: relative;
	top: 0.2em;
	margin: 0;
	color: #fff;
	font-size: 1em;
}
.card-links a:hover i.fa {
	color: #fff;
}

.container {
	padding: 6rem 3rem 3rem;
}
table {
	border-collapse: collapse;
	width: 100%;
}
tbody tr:nth-child(2n){
	background-color: #f5f7fa;
}
thead tr th{
	border-bottom: 1px solid #000;
}
tbody td {
	border-left: 1px solid #dee;
	vertical-align: top;
}

th, td {
	text-align-last: left;
	padding: 1em 8px;
}
th{
	padding: 8px;
	font-size: 18px;
} 
td pre {
	margin-top: 0;
	max-width: 100%;
	overflow-x: auto;
}
.tdCode {
	table-layout: fixed;
	max-width: 480px;
}
td:first-child,
td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
	word-wrap: nowrap;
	white-space: nowrap;
}

code {
	font-family: 'Roboto Mono';
	font-size: 12px;
	border-radius: 3px;
	background-color: #ddd;
	padding: 2px 5px;
	display: inline-block;
}
a code {
	color: #000;
}
a:hover code {
	background-color: #aaa;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
}
a i.fa {
	position: relative;
	/*top: 1px;*/
	margin-left: 4px;
	font-size: 0.8em;
	color: #ddd;	
}
a:hover i.fa {
	color: #aaa;	
}

td ul {
	margin: 0;
	padding-left: 20px;
}
td ul li {
	margin-bottom: 8px;
}
strong + ul {
	margin-top: 8px;
}